---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import { Image } from "astro:assets"
import logo from '../images/logo.png'
---

<!-- <div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<a href="https://astro.build"
				><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
			>
			<h1 class="text-4xl">
				Let's GO! To get started, open the <code><pre>src/pages</pre></code> directory in your project.
			</h1>
			<section id="links">
				<a class="button" href="https://docs.astro.build">Read our docs</a>
				<a href="https://astro.build/chat"
					>Join our Discord <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36"
						><path
							fill="currentColor"
							d="M107.7 8.07A105.15 105.15 0 0 0 81.47 0a72.06 72.06 0 0 0-3.36 6.83 97.68 97.68 0 0 0-29.11 0A72.37 72.37 0 0 0 45.64 0a105.89 105.89 0 0 0-26.25 8.09C2.79 32.65-1.71 56.6.54 80.21a105.73 105.73 0 0 0 32.17 16.15 77.7 77.7 0 0 0 6.89-11.11 68.42 68.42 0 0 1-10.85-5.18c.91-.66 1.8-1.34 2.66-2a75.57 75.57 0 0 0 64.32 0c.87.71 1.76 1.39 2.66 2a68.68 68.68 0 0 1-10.87 5.19 77 77 0 0 0 6.89 11.1 105.25 105.25 0 0 0 32.19-16.14c2.64-27.38-4.51-51.11-18.9-72.15ZM42.45 65.69C36.18 65.69 31 60 31 53s5-12.74 11.43-12.74S54 46 53.89 53s-5.05 12.69-11.44 12.69Zm42.24 0C78.41 65.69 73.25 60 73.25 53s5-12.74 11.44-12.74S96.23 46 96.12 53s-5.04 12.69-11.43 12.69Z"
						></path></svg
					>
				</a>
			</section>
		</section>
	</main>

	<a href="https://astro.build/blog/astro-5/" id="news" class="box">
		<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"
			><path
				d="M24.667 12c1.333 1.414 2 3.192 2 5.334 0 4.62-4.934 5.7-7.334 12C18.444 28.567 18 27.456 18 26c0-4.642 6.667-7.053 6.667-14Zm-5.334-5.333c1.6 1.65 2.4 3.43 2.4 5.333 0 6.602-8.06 7.59-6.4 17.334C13.111 27.787 12 25.564 12 22.666c0-4.434 7.333-8 7.333-16Zm-6-5.333C15.111 3.555 16 5.556 16 7.333c0 8.333-11.333 10.962-5.333 22-3.488-.774-6-4-6-8 0-8.667 8.666-10 8.666-20Z"
				fill="#111827"></path></svg
		>
		<h2>What's New in Astro 5.0?</h2>
		<p>
			From content layers to server islands, click to learn more about the new features and
			improvements in Astro 5.0
		</p>
	</a>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Tech People Blog</title>
  </head>
  <body class="">
    <nav class="bg-gray-900 text-white">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <Image src={logo} class="h-14" alt="TechPeople Logo" width={55} height={55}/>
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap"
            ><span class="text-indigo-400">Tech</span>People</span
          >
        </a>
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 text-white rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 border-gray-700"
          >
            <li>
              <a
                href="index.html"
                class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="articles.html"
                class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
                >All Articles</a
              >
            </li>
            <li>
              <a
                href="about.html"
                class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
      <!-- Top Grid -->
      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
        <div>
          <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
            Articles, Stories & Tutorials for Tech People
          </h1>

          <form id="search-form" class="flex items-center">
            <label for="search-input" class="sr-only">Search</label>
            <div class="relative w-full">            
              <input
                type="text"
                id="query"
                name="query"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                placeholder="Search articles..."
                required
              />
            </div>
            <button
              type="submit"
              class="p-2.5 ms-2 text-sm font-medium text-white bg-indigo-700 rounded-lg border border-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
              <span class="sr-only">Search</span>
            </button>
          </form>
        </div>
        <!-- Most Recent Article -->
        <div class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl">
          <a href="article.html">
          <img src="/images/image1.png" alt="Article Image" class="w-full h-auto rounded-2xl"  />

          <div
            class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-75 transition duration-300 ease-in-out text-white text-center rounded-2xl"
          >
            <div>
              <h2 class="text-2xl font-semibold sm:text-3xl">
                  The best laptops for developers in 2024
              </h2>
              <p class="text-xl mt-4">January 20, 2024</p>

              <!-- Tags with rounded border -->
              <div class="flex mt-4 justify-center">
                <span
                  class="px-2 py-1 border text-white rounded-full text-xs mr-2"
                  >Tech</span
                >
                <span
                  class="px-2 py-1 border text-white rounded-full text-xs mr-2"
                  >Hardware</span
                >
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>

      <!-- Main Grid -->
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Article Card -->
        <div class="max-w-md mx-auto mt-10">
          <div class="bg-white rounded-lg overflow-hidden shadow-lg">
            <a href="article.html">
              <img
                src="/images/image2.png"
                alt="Article Image"
                class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
              />
            </a>
            <div class="p-6">
              <h2 class="text-2xl font-semibold mb-2">
                <a href="article.html"> Guardian of the Digital Realm: Web Security </a>
              </h2>
              <p class="text-gray-600 text-sm mb-4">January 19, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="">Code</a></span
                >
                <span
                  class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="#">Software</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="max-w-md mx-auto mt-10">
          <div class="bg-white rounded-lg overflow-hidden shadow-lg">
            <a href="article.html">
              <img
                src="/images/image3.png"
                alt="Article Image"
                class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
              />
            </a>
            <div class="p-6">
              <h2 class="text-2xl font-semibold mb-2">
                <a href="article.html"> Immerse in the Virtual World: VR Development </a>
              </h2>
              <p class="text-gray-600 text-sm mb-4">January 18, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
                ><a href="">VR</a></span
              >
              <span
                class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
                ><a href="#">Tech</a></span
              >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="max-w-md mx-auto mt-10">
          <div class="bg-white rounded-lg overflow-hidden shadow-lg">
            <a href="article.html">
              <img
                src="/images/image4.png"
                alt="Article Image"
                class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
              />
            </a>
            <div class="p-6">
              <h2 class="text-2xl font-semibold mb-2">
                <a href="article.html"> Elevate Your Mobile Experience with Samsung </a>
              </h2>
              <p class="text-gray-600 text-sm mb-4">January 17, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
                ><a href="">Smartphones</a></span
              >
              <span
                class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
                ><a href="#">Samsung</a></span
              >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="max-w-md mx-auto mt-10">
          <div class="bg-white rounded-lg overflow-hidden shadow-lg">
            <a href="article.html">
              <img
                src="/images/image5.png"
                alt="Article Image"
                class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
              />
            </a>
            <div class="p-6">
              <h2 class="text-2xl font-semibold mb-2">
                <a href="article.html"> Soaring to New Heights: The World of Drones</a>
              </h2>
              <p class="text-gray-600 text-sm mb-4">January 16, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="">Drones</a></span
                >
                <span
                  class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="#">Tech</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="max-w-md mx-auto mt-10">
          <div class="bg-white rounded-lg overflow-hidden shadow-lg">
            <a href="article.html">
              <img
                src="/images/image6.png"
                alt="Article Image"
                class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
              />
            </a>
            <div class="p-6">
              <h2 class="text-2xl font-semibold mb-2">
                <a href="article.html"> Capturing Life's Moments with Canon Excellence</a>
              </h2>
              <p class="text-gray-600 text-sm mb-4">January 14, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="">Cameras</a></span
                >
                <span
                  class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="#">Gadgets</a></span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Article Card -->
        <div class="max-w-md mx-auto mt-10">
          <div class="bg-white rounded-lg overflow-hidden shadow-lg">
            <a href="article.html">
              <img
                src="/images/image7.png"
                alt="Article Image"
                class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
              />
            </a>
            <div class="p-6">
              <h2 class="text-2xl font-semibold mb-2">
                <a href="article.html">
                  Unleash Creativity With These Cutting-Edge Tablets</a
                >
              </h2>
              <p class="text-gray-600 text-sm mb-4">January 13, 2024</p>
              <div class="flex flex-wrap gap-2">
                <span
                  class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="">Gadgets</a></span
                >
                <span
                  class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
                  ><a href="#">Tablets</a></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-indigo-900 text-white">
      <div class="container mx-auto mt-10 max-w-screen-xl px-8">
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4">
          <div class="mt-10">
            <h3 class="text-xl font-semibold mb-4">About</h3>
            <p class="text-white text-sm">
              TechPeople is a blog for tech enthusiasts. We publish articles,
              stories and tutorials about the latest technology trends and
              advancements.
            </p>
          </div>
          <div class="mt-10">
            <h3 class="text-xl font-semibold mb-4">Categories</h3>
            <ul class="text-white text-sm">
              <li class="mb-2">
                <a href="#">Tech</a>
              </li>
              <li class="mb-2">
                <a href="#">Programming</a>
              </li>
              <li class="mb-2">
                <a href="#">Gadgets</a>
              </li>
              <li class="mb-2">
                <a href="#">Hardware</a>
              </li>
              <li class="mb-2">
                <a href="#">Software</a>
              </li>
              <li class="mb-2">
                <a href="#">VR</a>
              </li>
              <li class="mb-2">
                <a href="#">Smartphones</a>
              </li>
              <li class="mb-2">
                <a href="#">Cameras</a>
              </li>
              <li class="mb-2">
                <a href="#">Drones</a>
              </li>
            </ul>
          </div>
          <div class="mt-10">
            <h3 class="text-xl font-semibold mb-4">Contact</h3>
            <ul class="text-white text-sm">
              <li class="mb-2">
                <a href="#">Email</a>
              </li>
              <li class="mb-2">
                <a href="#">Twitter</a>
              </li>
              <li class="mb-2">
                <a href="#">Facebook</a>
              </li>
              <li class="mb-2">
                <a href="#">Instagram</a>
              </li>
            </ul>
    </footer>
  </body>
</html>