---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants';
import "../styles/global.css";

const { Title = 'Articles, Stories & Tutorials for Tech People' } = Astro.props;

interface Props {
  Title?: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    > console.log('MainLayout is rendering..');
  
  </script>
    <title>{SITE_TITLE} - {Title}</title>
  </head>
  <body class="">

    <Navbar />
    <section class="container mx-auto max-w-screen-xl mt-10 px-8 mb-20">
      <slot />    
    </section>
    <Footer />
    <!--</div>  end of section -->
  </body>
</html>

<!-- <style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style> -->